*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    font-size: 15px; 
    color: #000000;
    justify-content: center;
    background-color: #000000;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.cabeçalho{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #109179;
    color: white;
    box-shadow: 0px 2px 2px #d6d6d6;
    z-index: 1;
}
.nome-foto{
    display: flex;
    align-items: center;
    width: 40px;
    padding: 10px 12px;
}
header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.titulo-chat{
    width: 100%;
    padding-left: 27px;
    word-break: break-all;
}



main{
    display: flex;
    justify-content: center;
    height: calc(100vh - 113px);    
}
.corpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #eee4e3;
    padding: 10px 12px;
    overflow: auto;
}

.chat-recebido{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 5px;
    max-width: 80%;
}
.chat-recebido h6{
    text-align: start;
    padding: 2px 4px;
}
.chat-recebido h5{
    text-align: start;
    padding: 5px 0px;   
}
.chat-recebido h4{
    border-radius: 0px 10px 10px 10px;
    background-color: white;
    word-break: break-all;
    padding: 6px 7px 8px 9px;
    box-shadow: 2px 2px 2px #d6d6d6;
    font-weight: normal;
    word-break: break-word;
}

.chat-enviado{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 5px;
    max-width: 80%;
}
.chat-enviado h6{
    text-align: end;
    padding: 2px 4px;
}
.chat-enviado h5{
    text-align: end;
    padding: 5px 0px;
}
.chat-enviado h4{
    border-radius: 10px 0px 10px 10px;
    padding: 6px 7px 8px 9px;
    word-break: break-all;
    background-color: #e3f7eb;
    box-shadow: -2px 2px 2px #d6d6d6;
    font-weight: normal;
    word-break: break-word;
}



footer{
    display: flex;
    justify-content: center;
    height: 53px;
}
footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px -2px 2px #d6d6d6;
    padding: 0px 8px;
}
footer input{
    border: none;
    width: calc(100% - 35px);
    height: 35px;
    background-color: #f5f5f5;
    padding: 0px 5px;
    color: black;
    border-radius: 8px;
    outline: none;
}
footer button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #109179;
    margin-left: 4px;
    color: white;
}
footer button:hover{
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
}



::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: #eee4e3;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}